.App {
  text-align: center;
  border: 2px solid yellow;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.mainbox{
  margin: 0 5% 0 5%;
   height: 80vh;
  /* min-height: calc(80vh); */
  /* height: 80vmin; */
}

