.Navbarholder {
    padding: 25px;
    background: black;
    /* display: flex; */
    
    
}

    @media only screen and (max-width: 500px) {
        .Navbarholder{
            padding: 12px;
        }
    }


.flexnav{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}


@media only screen and (max-width: 800px) {
    .flexnav{
        display: flex;
        flex-wrap: wrap;  
    }
}


    @media only screen and (max-width: 500px) {
        .flexnav{
            display: flex;
            flex-wrap: wrap;  
            /* border: 2px solid yellow; */
        }
    }

  
.logo{
    width: 256px;
    height: auto;
    /* border: 2px solid orange; */
}

    @media only screen and (max-width: 500px) {
        .logo{
            display: none;  
        }
    }


.navlinkholder{
    padding: 5px;
    /* border: 2px solid green; */
    
}

/* .navlink:active{
    background: rgb(0, 129, 250);
} */

.navlink{
    color: white;
    /* border: 2px solid black; */
    padding: 25px 45px 25px 45px;
    margin: 0 45px 0 35px; 
    border-radius: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    background:  rgb(95, 95, 95);
    
}

.navlink:hover{
    color: white; 
    background:  red;
}
  
    @media only screen and (max-width: 500px) {

        .navlink{
            color: white;
            padding: 15px;
            margin: 0 8px 0 8px; 
            border-radius: 2px;
            font-size: 1rem;
            text-decoration: none;
            font-weight: bold;
            background:  rgb(95, 95, 95);
        }
    }

.Navbarholderhalo {
    padding: 7px;
    background: grey;  
}

.navtext{
color: white;
padding: 0 15px 0 15px;
}

.navlinkHalo{
    color: white;
    /* border: 2px solid black; */
    padding: 10px 12px 10px 12px;
    margin: 0 15px 0px 15px; 
    border-radius: 5px;
    font-size: .6rem; 
    text-decoration: none;
    font-weight:bold;
    background: rgb(0, 78, 180);
}



.navlinkHalo:hover{
    /* color: white; */
    background: rgb(0, 129, 250);
  
}

nav{
    display: flex;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////// */
/*////////////////////////// TOGGLE SWITCH for darkmode /////////////////*/
/* ///////////////////////////////////////////////////////////////////// */

.NavbarholderDark {
    align-items: center;
    display: flex; 
    /* border: 2px solid green;  */
  }

.dark-mode__toggle {
    background: papayawhip;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .toggle {
    background: #f68819;
    border-radius: 50px;
    height: 20px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 22px;
  }
  
  .toggled {
    left: 18px;
  }

  .navbar2b {
    background-color: #1F2022;
    border: none;
  }